path-code dialog
{
  width: 80%;
  background-color: #888;
}
path-code .body
{
  display: flex;
  flex-direction: column;
}
path-code header
{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
path-code header h1
{
  color: #000;
  font-size: 35px;
  padding: 0 0 10px 0;
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

path-code header img
{
  border-radius: 7px;
  border: 1px solid #0f0;
  padding: 5px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background-color: #666;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
}

path-code textarea
{
  background-color: #222;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  font-family: monospace;
  font-size: 11px;
  tab-size: 2;
  height: 70vh;
}
